{% extends 'base.html.twig' %}

{% block title %}
  Hello DefaultController!
  
{% endblock %}

{% block body %}
  {# TODO: improve style of this container (small texts..) #}
  <div class="container">
    <div class="row row-cols-3 gap-3">
      {% for post in posts %}
        <div class="card" style="width: 18rem;">

        {# TODO: fix me => implement image upload #}
          {% if post.images == null %} 
          <p>Pas d'images disponibles</p>

          {% else %}
          <img src="{{ post.images[0] }}" class="card-img-top" alt="image:{{ post.title }}">
          {% endif %}


            <div class="card-body">
              <h3 class="card-title fs-5 text-primary">
                {{ post.title }}
              </h3>
              <h3 class="card-text fs-6">
                {{ post.price }} €          
              </h3>

              <div>
                <p class="card-text">
                  {{ post.description }}
                </p>

                <p class="lh-1">
                  Publiée le {{ post.createdAt|date('d/m/Y') }}
                </p>

                <p class="lh-1">par <a href="{{ path('user', {id: post.author.id}) }}" class="text-black-50">{{ post.author.username }}</a></p>

                <span class="badge rounded-pill text-dark border border-primary">
                  {{ post.tag.name }}
                </span>
              </div>

               <a class="btn btn-warning mt-5" href="{{ path('post', {id: post.id}) }}">Voir l'annonce</a>
            </div>
          </div>

        {% endfor %}
      </div>
    </dvi>

  {% endblock %}
  