{% extends 'base.html.twig' %}

{% block title %}
  Hello DefaultController!
                  
              
            
          
        
      
    
  
{% endblock %}

{% block body %}
  <h1>
    index
                                        
                                
                          
                      
                  
              
          
      
  </h1>

{# TODO: improve style of this container (small texts..) #}
  <div class="container">
    <div class="row row-cols-3 gap-3">
      {% for post in posts %}
        <div class="card" style="width: 18rem;">
          {# TODO: add post image here #}
          <img src="..." class="card-img-top" alt="...">

            <div class="card-body">
              <h3 class="card-title">
                {{ post.title }}
              </h3>
              <h3 class="card-text">
                {{ post.price }}
                €          
              </h3>

              <p class="card-text">
                {{ post.description }}
              </p>

              <p>
                Publiée le           
                {{ post.createdAt|date('d/m/Y') }} par {{ post.author.username }}
              </p>

            </div>
          </div>

        {% endfor %}
      </div>
    </dvi>

  {% endblock %}
  