{% extends 'base.html.twig' %}

{% set isAuthor =  app.user is same as(post.author) %}

   {% block title %}
      {% if(post is null) %}
         Not found
      {% else %}
         {{ post.title }}
      {% endif %}
   {% endblock %}


   {% block body %}
      {% if(post is null) %}
         <p>Désolé, l'annonce n'existe pas</p>
         <a href="{{ path('app_home') }}" class="btn btn-primary my-5">Retour à l'accueil</a>
      {% else %}

       {% include './components/back-button.html.twig' %}

       <section class="py-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    {# TODO: Create a caroussel here to display all images? #}
                    {# TODO: Remove this check when the upload of images is merged. #}
                    {% if post.images == null %}
                    <p>Pas d'images disponibles</p>
                    {% else %}
                    <img class="card-img-top mb-5 mb-md-0" src="{{ post.images[0] }}" alt="image:{{ post.title }}" />
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <span class="badge rounded-pill text-dark border border-primary">{{ post.tag.name }}</span>
                    <h1 class="display-5 fw-bolder">{{ post.title }}</h1>
                
                    <div class="fs-5 mb-5">
                        {# TODO: add a function to use locale currency? #}
                        <span>{{ post.price }} €</span>
                        <p class="lead">{{ post.description }}</p>
                    </div>

                     <div class="fs-6 mb-5">
                     {# TODO: Add link to redirect in profile/user page #}
                     <p class="mb-0">Publiée le {{ post.createdAt|date('d-m-Y') }} par {{ post.author.username }}</p>

                     {# TODO: Add rating section #}
                     <div class="mt-5">
                        <span class="h5"><u>Note vendeur</u></span>
                     </div>

                     {% if isAuthor %}
                        <div class="mt-5">
                           <a class="text-muted" href="{{ path('app_delete_post', {'id': post.id}) }}">
                           <i class="bi-trash"></i>
                           Supprimer l'annonce
                           </a>
                        </div>

                     {% endif %}
                  </div>
                </div>
            </div>
        </div>
       </section>

       {# TODO: Add questions/answers section #}

       {# NOTE: when the user is not logged in, he/she can't ask questions #}
       {# <p>Pour pouvoir ajouter une question, vous devez être connecté</p> #}
       {# <a href="{{ app_login')}}">Se connecter</a> #}

      <div class="container px-4 px-lg-5 mt-4">
            <div class="col-md-8">
                     <h5>Question{{ post.questions|length >= 1 ? "" : "s"}} ({{ post.questions|length}})</h5>

                  {% for question in post.questions %}
                  <div class="card p-3 mb-2">
                     <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">
                           <span>
                              <small class="font-weight-bold text-primary">{{ question.author.username }}</small>
                              <small class="font-weight-bold">{{ question.content }}</small>
                           </span> 
                        </div> 
                        {# TODO: fix date. #}
                        <small class="text-nowrap">2 days ago</small>
                     </div>
                     <div>
                        <button class="btn btn-link">Voir les réponses ({{ question.answers|length}})</button>
                        {% for answer in question.answers %}
                        <div class="mx-5 mt-3">
                           <small class="font-weight-bold text-primary">{{ answer.author.username }}</small>
                           <small class="font-weight-bold">{{ answer.content }}</small>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
                  {% endfor %}

               {{ form_start(addQuestionForm) }}
               {{ form_row(addQuestionForm.content, { 'attr': { "value": '' } }) }}
               <button type="submit" class="btn btn-primary">Poster</button>
               {{ form_end(addQuestionForm)}}
            </div>
      </div>
      {% endif %}
   {% endblock %}